@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-dark: hsl(0, 0%, 0%);
  --color-light: hsl(0, 0%, 100%);
  --color-dark-search: hsl(0, 0%, 12%);
  --color-light-search: hsl(0, 0%, 96%);
  --color-dark-heading: hsl(0, 0%, 18%);
  --color-light-heading: hsl(0, 0%, 46%);
  --color-dark-divider: hsl(0, 0%, 46%);
  --color-light-divider: hsl(0, 0%, 91%);
  --color-light-purple: hsl(274, 82%, 60%);
  --color-dark-placeholder: rgba(255, 255, 255, 0.25);
  --color-light-placeholder: rgba(45, 45, 45, 0.25);
  --color-error: hsl(0, 100%, 66%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
