.logo {
  background-image: url('../public/logo.svg');
}

.icon_arrow {
  background-image: url('../public/icon-arrow-down.svg');
}

.icon_new_window {
  background-image: url('../public/icon-new-window.svg');
}

.icon_moon {
  background-image: url('../public/icon-moon.svg');
}

.icon_search {
  background-image: url('../public/icon-search.svg');
}

.icon_play {
  background-image: url('../public/icon-play.svg');
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: hsl(0, 0%, 46%);
  border-radius: 25px;
}

.switch:hover {
  background-color: #A445ED;
  cursor: pointer;
}

.switch::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  transition: all 0.3s;
}

input[type="checkbox"]:checked+.switch::after {
  transform: translateX(18px);
}

.play {
  width: 76px;
  height: 76px;
  padding-top: 28px;
  border-radius: 50%;
  background-color: rgba(164, 69, 237, 0.25);
}

.play:hover {
  background-color: #A445ED;
}

.play::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 21px solid #A445ED;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  margin: 0 auto;
}

.play:hover::after {
  border-left: 21px solid #FFFFFF;
}

.ul {
  list-style-type: none;
  padding: 0;
  margin-top: 22px;
  font-size: 15px;
  line-height: 24px;
}

.ul li {
  margin-bottom: 11px;
  position: relative;
  padding-left: 26px;
}

.ul li::before {
  content: '•';
  color: hsl(274, 82%, 50%);
  position: absolute;
  left: 0;
}

@media (min-width: 768px) {
  .switch::after {
    left: 4px;
  }

  .ul {
    font-size: 18px;
    line-height: 24px;
    margin-left: 21px;
  }
}