.logo {
  background-image: url('../public/logo.svg');
}

.icon_arrow {
  background-image: url('../public/icon-arrow-down.svg');
}

.divider_v {
  width: 1px;
  height: 32px;
  background-color: hsl(0, 0%, 91%);
  margin: 0 15px;
}

.divider_h {
  width: 262px;
  height: 1px;
  background-color: hsl(0, 0%, 91%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: hsl(0, 0%, 46%);
  border-radius: 25px;
}

.switch:hover {
  background-color: #A445ED;
  cursor: pointer;
}

.switch::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  transition: all 0.3s;
}

.icon_moon {
  background-image: url('../public/icon-moon.svg');
}

.icon_search {
  background-image: url('../public/icon-search.svg');
}

.icon_play {
  background-image: url('../public/icon-play.svg');
}

@media (min-width: 768px) {
}